<!DOCTYPE html>
<html lang="fr">
<head>
    {{ include('partial/_head.html.twig') }}
</head>
<body class="p-0 m-0 bg-light">
<header>
    {{ include('partial/_nav.html.twig') }}
</header>
<main class="mt-5 mx-0 p-0 text-center">
    {% block content %}{% endblock %}
</main>
<footer class="fixed-bottom bg-dark text-secondary">
    {{ include('partial/_footer.html.twig') }}
</footer>
</body>
</html>
