<!DOCTYPE html>
<html lang="fr">
<head>
    {{ include('partial/_head.html.twig') }}
</head>
<body class=" m-0 p-0">
<header>
    {{ include('partial/_nav.html.twig') }}
</header>
<main class="m-4 p-2">
    {% block content %}{% endblock %}
</main>
<footer>
    {{ include('partial/_footer.html.twig') }}
</footer>
</body>
</html>
