<!DOCTYPE html>
<html lang="fr">
<head>
    {{ include('partial/_head.html.twig') }}
</head>
<body>
<header>
    {{ include('partial/_nav.html.twig') }}
</header>
<main class="m-4 p-2">
    {% block content %}{% endblock %}
</main>
<footer class="fixed-bottom bg-dark text-secondary">
    {{ include('partial/_footer.html.twig') }}
</footer>
</body>
</html>
