<!DOCTYPE html>
<html lang="fr">
<head>
    {{ include('partial/_head.html.twig') }}
</head>
<body>
<header>
    {% block nav %}{% endblock %}
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    {{ include('partial/_footer.html.twig') }}
</footer>
</body>
</html>
