{% extends "back/admin/layoutAdmin.html.twig" %}
{% block content %}
    <h3 class="mb-5 text-uppercase">
        <span class="fas fa-user-plus"></span>
        Ajouter un nouvel utilisateur :
    </h3>
    {% if status == true %}
        <div class="alert alert-{{ status }}">{{ statusMessage }}</div>
    {% endif %}
    <form action="/Admin/userAdmin/add" method="POST"
          class="needs-validation p-4 starter-template rounded shadow" novalidate>
        <div class="col">
            {{ include('partial/_formRegister.html.twig') }}
            <button type="submit" class="p-2 mt-4 btn btn-success">
                Envoyer
                <span class="fas fa-share"></span>
            </button>
        </div>
    </form>
    <div class="p-3 mt-4 mx-auto w-50 border-top border-bottom border-info">
        <a href="/Admin/userAdmin/userList?_page=1" class="p-2 btn btn-primary">
            <span class="fas fa-angle-double-left"></span>
            Retour à la liste des utilisateurs
        </a>
    </div>
{% endblock %}
