{% extends "back/admin/layoutAdmin.html.twig" %}
{% block content %}
    <h3 class="mb-5 text-uppercase">
        <span class="far fa-comments"></span>
        liste des commentaires du blog :
    </h3>
    {{ include('back/admin/partial/_commentApproved.html.twig') }}
{% endblock %}
