{% extends "template/base.html.twig" %}
{% block title %}Blog{% endblock %}
{% block content %}
    <h2>Derniers billets du blog :</h2>
    {% for post in posts %}
        <section class="article">
            <h3>{{ post['title'] }}</h3>
            <strong>{{ post['creation_date'] }}</strong>
            <p>
                {{ post['content'] }}
            </p>
        </section>
        <section class="link">
            <a href="/article?articleId={{ post['id'] }}">Voir les commentaires associés</a>
        </section>
    {% endfor %}
    <section class="link">
        <a href="articleForm">Ajouter un nouvel article</a>
    </section>
{% endblock %}
