{% block commentContent %}

    {% for comment in comments %}
        <p><strong>{{ comment['author'] }}</strong> le {{ comment['comment_date'] }}</p>
        <p>{{ comment['comment'] }}</p>
    {% endfor %}

    <h3>Laisser un commentaire :</h3>

    {% block formComments %}
        <form action="{{ comment['post_id'] }}" method="post">
            <div>
                <label for="author">Auteur</label><br/>
                <input type="text" id="author" name="author"/>
            </div>
            <div>
                <label for="comment">Commentaire</label><br/>
                <textarea id="comment" name="comment"></textarea>
            </div>
            <div>
                <input type="submit"/>
            </div>
        </form>
    {% endblock %}

{% endblock %}