{% extends "template/base.html.twig" %}
{% block content %}
    <section class="form">
        <h4>Laisser un commentaire :</h4>
        <form action="" method="post">
            <div>
                <label for="author">Auteur</label><br/>
                <input type="text" id="author" name="author"/>
            </div>
            <div>
                <label for="comment">Commentaire</label><br/>
                <textarea id="comment" name="comment"></textarea>
            </div>
            <div>
                <input type="submit"/>
            </div>
        </form>
    </section>
{% endblock %}
