{% extends "template/base.html.twig" %}
{% block title %}Connexion{% endblock %}
{% block content %}
    <section>
        <h3>Connexion :</h3>
        <form class="flex" action="#" method="post">
            <label for="login">Identifiant :</label>
            <input id="login" name="login" placeholder="Identifiant" type="text"/>
            <label for="pass">Mot de passe (8 caractères minimum) :</label>
            <input id="pass" name="pass" placeholder="Mot de passe" type="password" minlength="8"
                   required/>
            <input class="button" type="submit" value="Connexion"/>
        </form>
    </section>
{% endblock %}
