{% extends "template/base.html.twig" %}
{% block title %}Contact{% endblock %}
{% block content %}
    <section>
        <h3>Contactez-moi :</h3>
        <form class="flex" action="/index.php" method="POST">
            <label for="name">Nom :</label>
            <input id="name" name="name" placeholder="Nom" type="text"/>
            <label for="email">E-mail :</label>
            <input id="email" name="email" placeholder="Email" type="email"/>
            <label for="subject">Sujet :</label>
            <input id="subject" name="subject" placeholder="Sujet" type="text"/>
            <label for="message">Message :</label>
            <textarea id="message" name="message" placeholder="Message" rows="9"></textarea>
            <input class="button" type="submit" value="Envoyer !"/>
        </form>
    </section>
{% endblock %}
