{% extends "template/base.html.twig" %}
{% block title %}Connected{% endblock %}
{% block content %}
<section id="about">
    <section class="link">
        <div>
            <p>
            {{ message }}
            </p>
        </div>
        <a href="/home">Retour à l'accueil</a>
    </section>
</section>
{% endblock %}
