{% extends "back/layoutBack.html.twig" %}
{% block content %}
    <h3 class="mb-5 text-uppercase">
        <span class="fas fa-feather-alt"></span>
        Ecrire un nouveau commentaire :
    </h3>
    <div class="container mb-5">
        {% if status == true %}
            <div class="alert alert-{{ status }}">{{ statusMessage }}</div>
        {% endif %}
        <form action="" method="POST" class="p-4 starter-template rounded shadow">
            <div class="col">
                <p class="h5 text-uppercase text-info font-weight-bold"><span
                            class="mt-3 mb-2 text-secondary font-weight-bold">Auteur : </span>{{ user.login }}</p>
                <div class="form-group">
                    <label for="comment" class="mt-3 mb-2 text-secondary font-weight-bold">Commentaire :</label>
                    <textarea class="form-control" id="comment" name="comment[content]" rows="5"
                              placeholder="Commentaire" required></textarea>
                </div>
                <button type="submit" class="p-2 mt-4 btn btn-success">
                    Envoyer
                    <span class="fas fa-share"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="p-3 mt-4 mb-5 mx-auto w-50 border-top border-bottom border-info">
        <a href="/article" class="btn btn-primary p-2 my-2">
            <span class="fas fa-angle-double-left"></span>
            Retour à la liste des billets
        </a>
    </div>
{% endblock %}
