<div class="row d-flex pt-3 px-2">
    <div class="col-md-3"></div>
    <div class="col-md-9 mx-auto text-center mb-1">
        <!--Copyright-->
        <p class="text-center h6">
            <span class="fa fa-copyright"></span>
            {{ "now"|date("Y") }} Copyright: Eloïse RUIZ-RODRIGUEZ
            <br>
            Dans le cadre de ma formation avec OpenClassrooms.
        </p>
    </div>
</div>
{{ include('/partial/_script.html.twig') }}
