<nav>
    <ul id="dashboard" class="col-4 h5 mt-4 py-5 px-2 w-25 h-100 d-inline-block navbar fixed-top bg-dark text-left">
        <li id="userAdmin" class="row nav-item">
            <a class="nav-link" href="/Admin/userAdmin">
                <span class="fas fa-tachometer-alt"></span>
                <span class="sr-only">(current)</span>
                Tableau de bord
            </a>
        </li>
        <li id="article" class="row nav-item">
            <a class="nav-link" href="/Admin/articleAdmin/add">
                <span class="far fa-newspaper"></span>
                Ajouter un article
            </a>
        </li>
        <li id="article" class="row nav-item">
            <a class="nav-link" href="/Admin/articleAdmin">
                <span class="far fa-newspaper"></span>
                Voir les articles
            </a>
        </li>
    </ul>
</nav>
