{% extends "back/admin/layoutAdmin.html.twig" %}
{% block content %}
    <h3 class="mb-5 text-uppercase">
        <span class="fas fa-feather-alt"></span>
        Ecrire un nouvel article :
    </h3>
    {% if status == true %}
        <div class="alert alert-{{ status }}">{{ statusMessage }}</div>
    {% endif %}
    <form action="add" method="POST"
          class="needs-validation p-4 starter-template rounded shadow" novalidate>
        <div class="col">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="title" class="mt-3 mb-2 text-secondary font-weight-bold">Titre :</label>
                    <input class="form-control" type="text" id="title" name="article[title]"
                           placeholder="Titre" required/>
                    <div class="invalid-feedback">
                        ce champs n'est pas rempli correctement.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="author" class="mt-3 mb-2 text-secondary font-weight-bold">Auteur :</label>
                    <input class="form-control-plaintext text-center font-weight-bold h5 text-info bg-gradient border-light"
                           type="text" id="author" name="article[author]"
                           placeholder="Auteur" value="{{ user.login }}" required/>
                    <div class="invalid-feedback">
                        ce champs n'est pas rempli correctement.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="hat" class="mt-3 mb-2 text-secondary font-weight-bold">Chapô :</label>
                <textarea class="form-control" id="hat" name="article[hat]" rows="3"
                          placeholder="Chapô" required></textarea>
                <div class="invalid-feedback">
                    ce champs n'est pas rempli correctement.
                </div>
            </div>
            <div class="form-group">
                <label for="content" class="mt-3 mb-2 text-secondary font-weight-bold">Article :</label>
                <textarea class="form-control" id="content" name="article[content]" rows="7"
                          placeholder="Article" required></textarea>
                <div class="invalid-feedback">
                    ce champs n'est pas rempli correctement.
                </div>
            </div>
            <input type="hidden" name="article[token]" value="{{ tokenValue }}"/>
            <button type="submit" class="p-2 mt-4 btn btn-success">
                Envoyer
                <span class="fas fa-share"></span>
            </button>
        </div>
    </form>
    <div class="p-3 mt-4 mx-auto w-50 border-top border-bottom border-info">
        <a href="/Admin/articleAdmin?_page=1" class="p-2 btn btn-primary">
            <span class="fas fa-angle-double-left"></span>
            Retour à la liste des articles
        </a>
    </div>

{% endblock %}

