/* GENERAL */
body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    margin: 7rem 0 0 0 !important;
    padding: 0;
}

main {
    text-align: center;
}

main h1,
main h2,
main h3{
    font-family: 'Roboto Slab', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#title {
    font-size: 2rem;
}

#subtitle {
    font-size: 1.5rem;
}

main h3 {
    font-size: 1.4rem;
}

main h4 {
    font-size: 1.3rem;
}

p {
    font-size: 1.2rem;
}
.welcome {
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: rgba(0, 92, 225, 1);
}

article {
    width: 82%;
    margin: auto;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(224, 237, 251, 1);
}

main a {
    padding: 0.5rem;
    text-decoration: none;
    color: rgb(102, 51, 153);
    font-weight: bold;
}

main a:hover{
    color: rgb(141, 91, 153);
    text-decoration: none;
}

/* NAV */
nav {
    text-transform: uppercase;
    width: 100%;
    top: 0;
}

nav img {
    width: 100px;
    height: auto;
}

/* ABOUT */
#about img {
    border-radius: 70% 90% 90% 70% / 80% 90% 70% 80%;
    max-width: 65%;
    height: auto;
}

/* CV */
.button1 {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 15px;
    display: inline-block;
    border: 1px solid rgba(224, 237, 251, 1);
    border-bottom: solid 2px rgba(224, 237, 251, 1);
    color: rgba(224, 237, 251, 1);
    background: rgba(52, 58, 64, 0.9);

    transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
}

.button1:hover {
    text-decoration: none;
    transform: translateY(1px);
    border: 1px solid rgba(8, 8, 71, 0.9);
    border-bottom: solid 2px rgba(8, 8, 71, 0.9);
    color: rgba(8, 8, 71, 0.9);
    background: rgba(224, 237, 251, 1);
}

/* Animation css*/

.text-js {
    opacity: 0;
}

.cursor {
    display: block;
    position: absolute;
    height: 85%;
    top: 0;
    right: -5px;
    width: 2px;
    z-index: 1;
    animation: flash 0.5s none infinite alternate;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* SOCIAL */
#social img {
    width: 70px;
    margin: 0 20px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
}

#social img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    filter: saturate(6);
    -webkit-filter: saturate(6);
}

/* CREDIT */
footer {
    width: 100%;
    bottom: 0;
    background: rgb(52, 58, 64);
    color: rgba(180, 180, 180, 0.9);
}

footer p {
    margin: 0;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: rgb(201, 197, 211);
    font-weight: bold;
}

footer a:hover {
    color: rgb(255, 222, 173);
}

/*blog*/
article .hat {
    background-color: rgba(201, 197, 211, 0.5);
    padding: 1rem;
    font-weight: bold;
}

article .content {
    background-color: rgb(201, 197, 211);
    padding: 1rem;
}

.comment {
    width: 60%;
    margin: auto;
}

.comment p {
    background-color: rgba(201, 197, 211, 0.6);
    padding: 1rem;
}

.panel-heading {
    width: 82%;
    margin: auto;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(201, 197, 211, 0.5);
}

.link {
    width: 40%;
    margin: 1.5rem auto;
    padding: 1rem;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
