{% extends "back/admin/layoutAdmin.html.twig" %}
{% block content %}
    <div class="mb-4 w-75 col-9">
        <p class="h4 mb-4 text-info text-center">
            {{ message }}
        </p>
    </div>
{% endblock %}
