<!DOCTYPE html>
<html lang="fr">
<head>
    {{ include('partial/_head.html.twig') }}
</head>
<body class="p-0 bg-light">
<header>
    {{ include('back/admin/partial/_nav.html.twig') }}
</header>
<main class="mx-0 p-0 container-fluid">
    {{ include('back/admin/partial/_menu.html.twig') }}
    <div class="row m-0">
        <div class="col-3"></div>
    {% block content %}{% endblock %}
    </div>
</main>
<footer class="fixed-bottom bg-dark text-secondary">
    {{ include('back/admin/partial/_footerAdmin.html.twig') }}
</footer>
</body>
</html>
