{% extends "back/layoutBack.html.twig" %}
{% block content %}
    <h4>Modification du profil :</h4>
    <div class="container">
        <div class="alert alert-{{ status }}">{{ statusMessage }}</div>
        <div class="starter-template">
            <form action="" method="POST">
                <div class="col">
                    <div class="form-group">
                        <label for="login">Mon identifiant :</label>
                        <input class="form-control" type="text" id="login" name="user[login]"
                               value="{{ user.login }}" required/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="mail">Mon adresse mail :</label><br/>
                        <input class="form-control" type="text" id="mail" name="user[mail]" value="{{ user.mail }}"
                               required/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>
    <section class="link">
        <a href="/Admin/userAdmin/profile">
            <span class="fas fa-angle-double-left"></span>
            Retour au profil</a>
    </section>
{% endblock %}
