{% extends "back/layoutBack.html.twig" %}
{% block content %}
    <h3>
        <span class="fas fa-user-edit"></span>
        Modification du profil :
    </h3>
    <div class="container">
        <div class="alert alert-{{ status }}">{{ statusMessage }}</div>
        <form action="" method="POST" class="p-3 starter-template rounded">
            <div class="col">
                <div class="form-group">
                    <label for="login">Mon identifiant :</label>
                    <input class="form-control" type="text" id="login" name="user[login]"
                           value="{{ user.login }}" required/>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="mail">Mon adresse mail :</label><br/>
                    <input class="form-control" type="text" id="mail" name="user[mail]" value="{{ user.mail }}"
                           required/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                Envoyer
                <span class="fas fa-share"></span>
            </button>
        </form>
    </div>
    <div class="p-2 my-4 mx-auto w-50 border-right-0 border-left-0 border border-secondary">
        <a href="/Admin/userAdmin/profile">
            <span class="fas fa-angle-double-left"></span>
            Retour au profil</a>
    </div>
{% endblock %}
