{% extends "back/layoutAdmin.html.twig" %}
{% block content %}
    <h4>{{ comment.author }}</h4>
    <section class="comment">
        <em>
            Créer le : {{ comment.createdAt }}<br>
            Dernière mise à jour : {{ comment.updatedAt }}
        </em>
        <p>
            {{ comment.content }}
        </p>
        <div>
            <a href="../../index.php">Éditer</a>
            <a href="../../index.php">Supprimer</a>
        </div>
        <div class="link">
            <a href="../../index.php">Retour à la liste des billets</a>
        </div>
    </section>
{% endblock %}

