<!DOCTYPE html>
<html lang="fr">
<head>
    {{ include('partial/_head.html.twig') }}
</head>
<body class="p-0 m-0 bg-light">
<header>
    {{ include('back/partial/_navBack.html.twig') }}
</header>
<main class="mt-5 mx-0 p-0 text-center bg-light">
    <div class="space row container-fluid p-0 m-0">
        <div class="px-0 mx-auto mb-5 px-4 pb-2">
            <div class="container mx-auto my-5 p-4">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</main>
<footer class="fixed-bottom bg-dark text-secondary">
    {% if session.role == 'admin' %}
        {{ include('back/partial/_footerBack.html.twig') }}
    {% else %}
        {{ include('/partial/_footer.html.twig') }}
    {% endif %}
</footer>
</body>
</html>
