{% extends "Front/template.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <section id="about">
        <img alt="Eloïse RUIZ-RODRIGUEZ" src="../../Public/images/profile.png">
        <article>
            <h1>Eloïse RUIZ-RODRIGUEZ</h1>
            <h2>Développeur / Intégrateur Web</h2>
            <p>
                Passionnée par le milieu informatique et plus particulièrement par le développement web,
                j’ai entrepris une formation de<br>
                « Développeur d'application PHP/Symfony », en collaboration avec
                <a href="https://openclassrooms.com" target="_blank">OpenClassrooms.</a><br>
                Aujourd'hui je vous présente mon blog professionnel, qui je l'éspère sera à votre goût.<br>
            </p>
        </article>
    </section>
    <!-- CV -->
    <section id="cv">
        <h3>Télécharger mon CV :</h3>
        <div>
            <a href="../../Public/docs/CV_Eloïse_RUIZ-RODRIGUEZ.pdf" target="_blank">
                Télécharger mon CV</a>
        </div>
    </section>
    <!-- Social -->
    <section id="social">
        <h3>Suivez-moi :</h3>
        <div>
            <a href="https://www.linkedin.com/in/eloïse-ruiz-rodriguez" target="_blank">
                <img alt="icone linkedin" src="../../Public/images/ico_in.png"></a>
            <a href="https://github.com/Loly-webdev" target="_blank">
                <img alt="icone github" src="../../Public/images/ico_git.png"></a>
        </div>
    </section>
{% endblock %}