<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        {{ include('Partial/head.html.twig') }}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

<header>
        {% block nav %}
                {{ include('Partial/nav.html.twig') }}
        {% endblock %}
</header>

<main>
        {% block content %}{% endblock %}
</main>

<footer>
        {% block footer %}
            {{ include('Partial/footer.html.twig') }}
        {% endblock %}
</footer>

</body>
</html>