{% extends "base.html.twig" %}
{% block title %}Blog{% endblock %}
{% block content %}
    <h2>Derniers billets du blog :</h2>
    {% for article in articles %}
        <section class="article">
            <h3>{{ article.title }}</h3>
            <strong>{{ article.createdAt }}</strong>
            <p>
                {{ article.content }}
            </p>
        </section>
        <section class="link">
            <a href="/article/see?articleId={{ article.id }}">Voir les commentaires associés</a>
        </section>
    {% endfor %}
    <section class="link">
        <a href="/article/add">Ajouter un nouvel article</a>
    </section>
{% endblock %}
