{% extends "layout.html.twig" %}
{% block content %}
    <section class="form">
        <h4>Laisser un commentaire :</h4>
        <form action="" method="POST">
            <div>
                <label for="author">Auteur</label><br/>
                <input type="text" id="author" name="comment[author]"/>
            </div>
            <div>
                <label for="comment">Commentaire</label><br/>
                <textarea id="comment" name="comment[content]"></textarea>
            </div>
            <div>
                <input type="submit"/>
            </div>
        </form>
    </section>
    <br>
    {{ message }}
    <br>
    {{ redirect }}
    <br>
    <section class="link">
        <a href="/article">Retour à la liste des billets</a>
    </section>
{% endblock %}
