{% extends "base.html.twig" %}
{% block title %}
    {{ comment.id }}
{% endblock %}
{% block content %}
    <section class="comment">
        <strong>{{ comment.author }}</strong>
        <p>
            {{ comment.content }}
        </p>
        <div>
            <a href="/">Éditer</a>
            <a href="/">Supprimer</a>
        </div>
    </section>
    {{ include('front/commentForm.html.twig') }}
    <section class="link">
        <a href="/">Retour à la liste des billets</a>
    </section>
{% endblock %}

