{% extends "layout.html.twig" %}
{% block title %}Connexion{% endblock %}
{% block content %}
    <section class="form">
        <h4>Connexion :</h4>
        <form action="" method="POST">
            <div>
                <label for="login">Identifiant :</label><br/>
                <input id="login" name="user[login]" type="text"/>
            </div>
            <div>
                <label for="pass">Mot de passe :</label><br/>
                <input id="pass" name="user[pass]" type="password" minlength="3"
                       required/>
            </div>
            <div>
                <input type="submit" value="Connexion"/>
            </div>
        </form>
    </section>
    <section class="link">
        <h4>Pas encore de compte ?</h4>
        <a href="/register">S'inscrire</a>
    </section>
    <br>
    {{ message }}
    <br>
{% endblock %}
