{% extends "layout.html.twig" %}
{% block title %}Connexion{% endblock %}
{% block content %}
    <section class="form">
        <h4>Connexion :</h4>
        <form action="" method="POST">
            <div>
                <label for="login">Identifiant :</label><br/>
                <input id="login" name="user[login]" type="text"/>
            </div>
            <div>
                <label for="pass">Mot de passe (3 caractères minimum) :</label><br/>
                <input id="pass" name="user[pass]" type="password" minlength="3"
                       required/>
            </div>
            <div>
                <input type="submit" value="Connexion"/>
            </div>
        </form>
    </section>
{% endblock %}
