{% extends "layout.html.twig" %}
{% block content %}
    <section class="form">
        <h4>Modification du login et password :</h4>
        <form action="" method="POST">
            <div>
                <label for="login">Login</label><br/>
                <input type="text" id="login" name="user[login]" value="{{ user.login }}"/>
            </div>
            <div>
                <label for="password">Password</label><br/>
                <input type="text" id="password" name="user[password]" value="{{ user.password }}" />
            </div>
            <div>
                <input type="submit"/>
            </div>
        </form>
    </section>
    <br>
    {{ message }}
    <br>
    <section class="link">
        <a href="/">Retour à l'Accueil</a>
    </section>
{% endblock %}
