{% extends "layout.html.twig" %}
{% block content %}
    <h3 class="mb-5 text-uppercase">
        <span class="fas fa-sign-in-alt"></span>
        Connexion :
    </h3>
    <div class="container mb-5">
        {% if status is not empty %}
            <div class="alert alert-{{ status }}">
                {% if statusMessage == true %}
                    {{ statusMessage }}
                {% endif %}
                {% if errors is not null %}
                    {{ errors }}
                {% endif %}
            </div>
        {% endif %}
        <form action="/authentication/login" method="POST" class="needs-validation p-4 starter-template rounded shadow"
              novalidate>
            <div class="col">
                <div class="form-group">
                    <label for="login" class="mt-3 mb-2 text-secondary font-weight-bold">Identifiant :</label>
                    <input class="form-control" id="login" name="formAuthentication[login]" type="text"
                           placeholder="Identifiant" required/>
                    <div class="invalid-feedback">
                        ce champs n'est pas rempli correctement.
                    </div>
                </div>
                <div class="form-group">
                    <label for="pass" class="mt-3 mb-2 text-secondary font-weight-bold">Mot de passe :</label>
                    <input class="form-control" id="pass" name="formAuthentication[password]" type="password"
                           minlength="3" placeholder="Mot de passe" required/>
                    <div class="invalid-feedback">
                        ce champs n'est pas rempli correctement.
                    </div>
                </div>
                <input class="form-control" type="hidden" name="formAuthentication[token]" value="{{ tokenValue }}"/>
                <button type="submit" class="p-2 mt-4 btn btn-success">
                    Connexion
                    <span class="fas fa-sign-in-alt"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="p-3 mt-4 mb-5 mx-auto w-50 border-top border-bottom border-info">
        <h4>Pas encore de compte ?</h4>
        <div class="text-center pt-2 pb-3">
            <a href="/register" class="p-2 btn btn-primary">
                <span class="fas fa-file-signature"></span>
                S'inscrire
            </a>
        </div>
    </div>
{% endblock %}
