{% extends "layout.html.twig" %}
{% block content %}
    <h2>Inscrivez-vous</h2>
    <form action="" method="post">
        <div>
            <label for="login">Identifiant :</label><br/>
            <input id="login" name="user[login]" type="text" required>
        </div>
        <div>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="user[mail]" required>
        </div>
        <div>
            <label for="pass">Mot de passe (3 caractères minimum) :</label><br/>
            <input id="pass" name="user[password]" type="password" minlength="3"
                   required>
        </div>
        <div>
            <input class="button" type="submit" value="Envoyer"/>
        </div>
    </form>
    <section class="link">
        <h4>Déjà inscrit ?</h4>
        <a href="/authentication/login">Connectez-vous</a>
    </section>
    <br>
    {{ message }}
    <br>
{% endblock %}

