{% extends "layout.html.twig" %}
{% block content %}
    <h3>Connexion :</h3>
    <div class="container align-items-center">
        <div class="alert alert-{{ status }}">{{ message }}</div>
        <div class="starter-template">
            <form class="center" action="" method="POST">
                <div class="col">
                    <div class="form-group">
                        <label for="login">Identifiant :</label>
                        <input class="form-control" id="login" name="formAuthentication[login]" type="text"
                               required/>
                    </div>
                    <div class="form-group">
                        <label for="pass">Mot de passe :</label>
                        <input class="form-control" id="pass" name="formAuthentication[password]" type="password"
                               minlength="3"
                               required/>
                    </div>
                    <button type="submit" class="btn btn-primary">connexion</button>
                </div>
            </form>
        </div>
    </div>
    <section class="link">
        <h4>Pas encore de compte ?</h4>
        <a href="/register">S'inscrire</a>
    </section>
{% endblock %}
