{% extends "layout.html.twig" %}
{% block title %}Inscription{% endblock %}
{% block content %}
    <h1>{{ titlePage }}</h1>
    <h2>Inscrivez-vous</h2>
    <form action="/register" method="post">
        <div>
            <label for="login">Identifiant :</label><br/>
            <input id="login" name="user[login]" type="text"/>
        </div>
        <div>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="user[mail]">
        </div>
        <div>
            <label for="pass">Mot de passe (3 caractères minimum) :</label><br/>
            <input id="pass" name="user[pass]" type="password" minlength="3"
                   required/>
        </div>
        <div>
            <label for="pass-check">Resaisssir le mot de passe</label><br>
            <input id="password-check" name="user[pass-check]" type="password">
        </div>
        <div>
            <input class="button" type="submit" value="Envoyer"/>
        </div>
    </form>
    <section class="link">
        <h4>Déjà inscrit ?</h4>
        <a href="/authentication/login">Connectez-vous</a>
    </section>
    <br>
    {{ message }}
    <br>
{% endblock %}

