<h3 class="mb-5">
    <span class="fas fa-envelope-open-text"></span>
    Contactez-moi :
</h3>
<div class="container mb-5">
    {% if status.status == true %}
        <div class="alert alert-{{ status . status }}">{{ status . statusMessage }}</div>
    {% endif %}
    <form action="" method="POST" class="p-3 starter-template rounded shadow">
        <div class="col">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name" class="text-secondary font-weight-bold">Nom :</label>
                    <input class="form-control" id="name" name="contact[nameUser]" placeholder="Nom" type="text"
                           value="{{ user . login }}"
                           required/>
                </div>
                <div class="form-group col-md-6">
                    <label for="email" class="text-secondary font-weight-bold">E-mail :</label>
                    <input class="form-control" id="email" name="contact[email]" placeholder="Email" type="email"
                           value="{{ user . mail }}"
                           required/>
                </div>
            </div>
            <div class="form-group">
                <label for="subject" class="text-secondary font-weight-bold">Sujet :</label>
                <input class="form-control" id="subject" name="contact[subject]" placeholder="Sujet" type="text"
                       required/>
            </div>
            <div class="form-group">
                <label for="message" class="text-secondary font-weight-bold">Message :</label>
                <textarea class="form-control" id="message" name="contact[message]" placeholder="Message"
                          rows="9" required></textarea>
            </div>
            <button type="submit" class="p-2 btn btn-primary">
                Envoyer
                <span class="fas fa-share"></span>
            </button>
        </div>
    </form>
</div>
