<section class="form">
    <h4>Contactez-moi :</h4>
    <form action="" method="POST">
        <div>
            <label for="name">Nom :</label><br/>
            <input id="name" name="name" placeholder="Nom" type="text"/>
        </div>
        <div>
            <label for="email">E-mail :</label><br/>
            <input id="email" name="email" placeholder="Email" type="email"/>
        </div>
        <div>
            <label for="subject">Sujet :</label><br/>
            <input id="subject" name="subject" placeholder="Sujet" type="text"/>
        </div>
        <div>
            <label for="message">Message :</label><br/>
            <textarea id="message" name="message" placeholder="Message" rows="9"></textarea>
        </div>
        <div>
            <input class="button" type="submit" value="Envoyer"/>
        </div>
    </form>
</section>
