<meta charset="UTF-8">
<!-- Favicon -->
<link href="/public/images/favicon.png" rel="icon" type="image/png"/>
<!-- Css files -->
<link href="/public/css/style.css" rel="stylesheet"/>
<!-- Css Bootstrap -->
<link href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!--Viewport -->
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<!-- Meta description -->
<meta content="Mon blog professionnel" name="description">
<meta content="Elo誰se RUIZ-RODRIGUEZ" name="author">
<!-- Open Graph data / Facebook -->
<meta property="og:title" content="Elo誰se RUIZ-RODRIGUEZ | Curriculum Vitae et Portfolio"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://loly-webdev.fr/"/>
<meta property="og:image" content="images/logo.png"/>
<meta property="og:description" content="Curriculum vitae et Portfolio de Elo誰se RUIZ-RODRIGUEZ"/>
<!-- Icones -->
<script src="https://kit.fontawesome.com/d40212f998.js" crossorigin="anonymous"></script>
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap|Roboto|Open+Sans" rel="stylesheet">
<!-- Titre du Site -->
<title>Blog Pro d'Elo誰se RUIZ-RODRIGUEZ</title>
