<section id="about">
    <img alt="Eloïse RUIZ-RODRIGUEZ" src="/public/images/profile.png">
    <h5>
        {{ message }}
    </h5>
    <article>
        <h1>Eloïse RUIZ-RODRIGUEZ</h1>
        <div class="type-js headline">
            <h2 class="text-js">Développeuse d'application PHP</h2>
        </div>
        <p>
            Passionnée par le milieu informatique et plus particulièrement par le développement web,
            j’ai entrepris une formation de<br>
            « Développeur d'application PHP/Symfony », en collaboration avec
            <a href="https://openclassrooms.com" target="_blank">OpenClassrooms.</a><br>
            Aujourd'hui je vous présente mon blog professionnel, qui je l'éspère sera à votre goût.<br>
        </p>
    </article>
</section>
<hr>
<!-- CV -->
<section id="cv">
    <h3>Mon Cv :</h3>
    <a href="/public/docs/CV_Eloïse_RUIZ-RODRIGUEZ.pdf" target="_blank" class="button1" rel = "noopener">
        <span class="fas fa-download"></span> Télécharger mon CV</a>
</section>
<hr>
<!-- Social -->
<section id="social">
    <h3>Suivez-moi :</h3>
    <div>
        <a href="https://www.linkedin.com/in/eloïse-ruiz-rodriguez" target="_blank">
            <img alt="icone linkedin" src="/public/images/ico_in.png"></a>
        <a href="https://github.com/Loly-webdev" target="_blank">
            <img alt="icone github" src="/public/images/ico_git.png"></a>
    </div>
</section>
