<section id="about">
    <img class="m-3" alt="Eloïse RUIZ-RODRIGUEZ" src="/public/images/profile.png">
    <p class="welcome mb-4 text-primary">
        {{ message }}
    </p>
    <article class="mb-5 p-4 rounded">
        <h1 id="title">Eloïse RUIZ-RODRIGUEZ</h1>
        <hr>
        <div class="type-js headline">
            <h2 id="subtitle" class="text-js">Développeuse d'application PHP</h2>
        </div>
        <hr>
        <p>
            Passionnée par le milieu informatique et plus particulièrement par le développement web,
            j’ai entrepris une formation de<br>
            « Développeur d'application PHP/Symfony », en collaboration avec
            <a href="https://openclassrooms.com" target="_blank">OpenClassrooms.</a><br>
            Aujourd'hui je vous présente mon blog professionnel, qui je l'éspère sera à votre goût.<br>
        </p>
    </article>
</section>
<!-- CV -->
<section id="cv" class="bg-light p-3 rounded">
    <h3>
        <span class="fas fa-address-card"></span>
        Mon Cv :</h3>
    <div class="p-2">
        <a href="/public/docs/CV_Eloïse_RUIZ-RODRIGUEZ.pdf" target="_blank"
           class="btn btn-outline-primary btn-lg text-decoration-none font-weight-bold" rel="noopener">
            <span class="fas fa-download"></span>
            Télécharger mon CV
        </a>
    </div>
</section>
<hr>
<!-- Social -->
<section id="social" class="bg-light p-3 rounded">
    <h3>
        <span class="fas fa-share-alt-square"></span>
        Suivez-moi :</h3>
    <div class="p-2">
        <a href="https://www.linkedin.com/in/eloïse-ruiz-rodriguez" target="_blank">
            <img alt="icone linkedin" src="/public/images/ico_in.png"></a>
        <a href="https://github.com/Loly-webdev" target="_blank">
            <img alt="icone github" src="/public/images/ico_git.png"></a>
    </div>
</section>
