<img id="about" class="mb-3 shadow" alt="Eloïse RUIZ-RODRIGUEZ" src="/public/images/profile.png">
<p class="h4 mb-4 text-success">
    {{ message }}
</p>
<div class="p-4 rounded bg-blue shadow">
    <h1 class="h2">Eloïse RUIZ-RODRIGUEZ</h1>
    <div class="type-js headline border-top border-bottom border-primary p-2 my-2 mx-auto text-info">
        <h2 class="text-js h4">Développeuse d'application PHP</h2>
    </div>
    <p class="text-secondary h5">
        Passionnée par le milieu informatique et plus particulièrement par le développement web,
        j’ai entrepris une formation de<br>
        « Développeur d'application PHP/Symfony », en collaboration avec
        <a class="text-decoration-none text-primary font-weight-bold" href="https://openclassrooms.com"
           target="_blank">OpenClassrooms.</a><br>
        Aujourd'hui je vous présente mon blog professionnel, qui je l'éspère sera à votre goût.<br>
    </p>
    <div id="more" class="row d-flex bg-light mx-4 mt-4 mb-3 rounded shadow-sm">
        <div class="col-md-6 pt-3 border-top border-info">
            <h2 class="h5">
                <span class="fas fa-address-card"></span>
                Mon Cv :
            </h2>
            <div class="my-3 mx-auto p-1">
                <a href="/public/docs/CV_Eloïse_RUIZ-RODRIGUEZ.pdf" target="_blank"
                   class="mt-1 p-2 btn btn-info btn-md text-decoration-none font-weight-bold h6" rel="noopener">
                    <span class="fas fa-download"></span>
                    Télécharger mon CV
                </a>
            </div>
        </div>
        <div class="col-md-6 pt-3 border-top border-info">
            <h2 class="h5">
                <span class="fas fa-share-alt-square"></span>
                Suivez-moi :
            </h2>
            <div class="row p-2 d-flex justify-content-center">
                <a class="col-md-2 mx-1" href="https://www.linkedin.com/in/eloïse-ruiz-rodriguez"
                   target="_blank">
                    <img class="my-2" alt="icone linkedin" src="/public/images/ico_in.png"></a>
                <a class="col-md-2 mx-1" href="https://github.com/Loly-webdev" target="_blank">
                    <img class="my-2" alt="icone github" src="/public/images/ico_git.png"></a>
            </div>
        </div>
    </div>
</div>
