<nav id="navigation" class="p-3 navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">
        <img class="d-inline-block align-top" alt="logo du blog Eloïse" src="/public/images/logo_blanc.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end text-uppercase" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li id="home" class="active nav-item">
                <a class="nav-link" href="/home">
                    <span class="fas fa-home"></span>
                    Accueil
                </a>
            </li>
            <li id="blog" class="nav-item">
                <a class="nav-link" href="/blog">
                    <span class="far fa-newspaper"></span>
                    Blog
                </a>
            </li>
            <li id="contact" class="nav-item">
                <a class="nav-link" href="/contact">
                    <span class="fas fa-envelope-open-text"></span>
                    Contact
                </a>
            </li>
        </ul>
        <div class="text-center m-1">
            <a id="register" href="/register" class="btn btn-outline-primary">
                <span class="fas fa-file-signature"></span>
                Inscription
            </a>
        </div>
        <div class="text-center m-1">
            <a id="authentication" href="/authentication" class="btn btn-outline-success">
                <span class="fas fa-sign-in-alt"></span>
                Connection
            </a>
        </div>
    </div>
</nav>
