{% block nav %}
    <nav class="flex">
        <a href="/"><img alt="logo du blog Eloïse" src="/public/images/logo_blanc.png"></a>
        <ul class="flex">
            <li><a href="/">Accueil</a></li>
            <li><a href="/article">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/connexion">Connexion</a></li>
        </ul>
    </nav>
{% endblock %}
