<nav id="navigation" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">
        <img class="d-inline-block align-top" alt="logo du blog Eloïse" src="/public/images/logo_blanc.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end text-uppercase" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li id="home" class="nav-item">
                <a class="nav-link" href="/home">
                    <span class="fas fa-home"></span>
                    <span class="sr-only">(current)</span>
                    Accueil
                </a>
            </li>
            <li id="contact" class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            <li id="register" class="nav-item"><a class="nav-link" href="/register">Inscription</a></li>
            <li id="authentication" class="nav-item"><a class="nav-link" href="/authentication">Connexion</a></li>
        </ul>
    </div>
</nav>
