<nav class="flex">
    <a href="/home"><img alt="logo du blog Eloïse" src="/public/images/logo_blanc.png"></a>
    <ul class="flex">
        <li><a href="/home">Accueil</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/register">Inscription</a></li>
        <li><a href="/authentication/login">Connexion</a></li>
    </ul>
</nav>
