<!DOCTYPE html>
<html lang="fr">
<head>
    {{ include('template/partial/_head.html.twig') }}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    {{ include('template/partial/_nav.html.twig') }}
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    {{ include('template/partial/_footer.html.twig') }}
    <hr>
    <p>
        <a href="/connexion">Connexion</a>
    </p>
</footer>
</body>
</html>
